<!DOCTYPE html>
<html>

	<head>
		<title>MLB Scoreboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="./services/viewFactory.js"></script>
		<script type="text/javascript" src="./controllers/listViewController.js"></script>
		<script type="text/javascript" src="./controllers/detailViewController.js"></script>
		<link type="text/css" rel="stylesheet" href="./styles/style.css" />
	</head>

	<body ng-app="mlbApp">

		<div ng-controller="listViewCtrl">
			<div id="input" ng-show="!isDetailView" class="center">
				<input type="date" id="inputDate" name="inputDate" ng-model="date" value="{{ date | date:'yyyy-MM-dd'}}" ng-change="dateChange()" required/>
				<br><br>
				<select ng-model="favTeam" ng-options="team for team in teamNames" ng-change="teamChange(team)">
				</select>
			</div>

			<hr>

			<h1 ng-show="noGames">No games today!</h1>

			<div id="listView" ng-show="!isDetailView">
				<div class="listViewGame" ng-repeat="game in data.data.games.game">

					<p>
						{{game.home_team_name}}<span class="score">{{game.linescore.r.home}}</span><br>
						{{game.away_team_name}}<span class="score">{{game.linescore.r.away}}</span><br>
						{{game.status.status}}
					</p>

					<button id="btnView" type="button" ng-click="getDetailedView(game)" ng-hide="isPreview(game.status.status)">View</button>
					<br ng-hide="isPreview(game.status.status)"><br ng-hide="isPreview(game.status.status)">
				</div>
			</div>
		</div>

		<div ng-controller="detailViewCtrl">
			<div id="detailView" ng-show="isDetailView">
				<div id="linescore">
					<table>
						<thead>
							<tr>
								<th ng-repeat="head in runsHeadings">{{head}}</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="teamCode">{{detailedData.data.boxscore.home_team_code | uppercase }}</td>
								<td ng-repeat="inning in detailedData.data.boxscore.linescore.inning_line_score">{{inning.home}}</td>
								<td>{{detailedData.data.boxscore.linescore.home_team_runs}}</td>
								<td>{{detailedData.data.boxscore.linescore.home_team_hits}}</td>
								<td>{{detailedData.data.boxscore.linescore.home_team_errors}}</td>
							</tr>

							<tr>
								<td class="teamCode">{{detailedData.data.boxscore.away_team_code | uppercase }}</td>
								<td ng-repeat="inning in detailedData.data.boxscore.linescore.inning_line_score">{{inning.away}}</td>
								<td>{{detailedData.data.boxscore.linescore.away_team_runs}}</td>
								<td>{{detailedData.data.boxscore.linescore.away_team_hits}}</td>
								<td>{{detailedData.data.boxscore.linescore.away_team_errors}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="battingHome" ng-show="isHomeView">
					<p class="teamHeadings">{{detailedData.data.boxscore.home_sname | uppercase }} | {{ detailedData.data.boxscore.away_sname }}</p>
					<table>
						<thead>
							<tr>
								<th ng-repeat="head in batterHeadings">{{head}}</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="batter in detailedData.data.boxscore.batting[0].batter">
								<td class="batterName">{{batter.name}}</td>
								<td>{{batter.ab}}</td>
								<td>{{batter.r}}</td>
								<td>{{batter.h}}</td>
								<td>{{batter.rbi}}</td>
								<td>{{batter.bb}}</td>
								<td>{{batter.so}}</td>
								<td>{{batter.avg}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="battingAway" ng-show="!isHomeView">
					<p class="teamHeadings">{{detailedData.data.boxscore.home_sname }} | {{ detailedData.data.boxscore.away_sname | uppercase }}</p>
					<table>
						<thead>
							<tr>
								<th ng-repeat="head in batterHeadings">{{head}}</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="batter in detailedData.data.boxscore.batting[1].batter">
								<td class="batterName">{{batter.name}}</td>
								<td>{{batter.ab}}</td>
								<td>{{batter.r}}</td>
								<td>{{batter.h}}</td>
								<td>{{batter.rbi}}</td>
								<td>{{batter.bb}}</td>
								<td>{{batter.so}}</td>
								<td>{{batter.avg}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<br>
				<button type="button" ng-click="toggleTeam()">Toggle Team</button>
				<button type="button" ng-click="back()">Back</button>
				<hr>

			</div>
		</div>

	</body>

</html>