div {
	width: 300px;
}

.listViewGame {
	border-bottom: 0.1px solid black;
}

#input {
	margin-left: 25%;
}

#battingHome tr, #battingAway tr, h1 {
	text-align: center;
}

#btnView {
	float: right;
	width: 30%;
}